@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  /* Hide scrollbar*/
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* custom css for news summary */

.news-summary * {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.news-summary p {
  line-height: 1.7;
  margin-bottom: 20px;
  font-size: 14px;
}

.news-summary img,
.news-summary iframe {
  width: 100% !important;
  max-width: 100%;
  border-radius: 12px;
  margin: 10px 0;
}
